* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: Headers;
    background-color: #222831;
    box-shadow: inset -8px 0 8px -8px #76ABAE;
}
@font-face {
	font-family: Headers;
	src: url("Modenine-2OPd.ttf");
	font-weight: bold;
}
.container {
	width: 100%;
	height: 100%;
}
nav {
	position: fixed;
	display: flex;
	align-items: flex-start;
	width: 12%;
	height: 100%;
	background-color: #222831;
}
main {
	position: fixed;
	right: 0;
	width: 88.1%;
	height: 100%;
	background: url("background.jpg");
	overflow: auto;
	padding: 40px;
    color: #EEEEEE;
}
@media screen and (max-width: 1800px){
	nav {
		width: 17%;
	}
	main {
		width: 83.1%;
	}
}
h1 {
	font-weight: bold;
	margin-bottom: 50px;
	font-size: 55px;
	text-align: center;
    color: #EEEEEE;
}
p {
	margin-bottom: 20px;
	line-height: 26px;
    font-size: 24px;
    text-align: center;
    color: #EEEEEE;
}
li, ul label.title, ul, a {
	width: 100%;
	color: #76ABAE;
	font-family: Headers;
	display: block;
	font-weight: bold;
}
ul label {
	height: 35px;
    box-shadow: inset -8px 0 8px -8px #76ABAE;
}
ul li{
	height: 35px;
	overflow: hidden;
	transition: all .3s;
}
li {
	display: block;
	background:#222831;
}
.youtube {
	margin-left: 30%;
	margin-right: 30%;
	height: 400px;
	width: 40%;
	border-radius: 15px;
}
label.title {
    text-align: left;
	font-size: 18px;
	background:#222831;
	padding: 10px 15px;
	cursor: pointer;
    transition: all .25s;
    overflow: hidden;
}
.sidebutton{
	font-size: 16px;
	text-decoration: none;
	color: #a5bfc0;
	display: block;
	padding: 10px 25px;
	transition: all .25s;
    box-shadow: inset -8px 0 8px -8px #76ABAE;
	font-family: Headers;
}
.sidebutton:hover {
    box-shadow: inset -15px 0 8px -8px #76ABAE;
	text-shadow: 0px 0px 10px #76ABAE;
	background: #0A2F66;
	color: #76ABAE;
}
label:hover {
	text-shadow: 0px 0px 10px #76ABAE;
	background: #0A2F66;
    box-shadow: inset -15px 0 8px -8px #76ABAE;
}
input[type="radio"] {
	display: none;
}
.sitename{
	height:60px;
}
.sitename label {
	height: 60px;
	padding: 5px 0px;
}
.sitename img{
	float:left;
	padding: 0px 0px;
}
.sitename p{
	text-align: left;
	font-size: 18px;
	padding: 10px 25px;
	margin-top: 10px;
	cursor: pointer;
	width: 100%;
	color: #76ABAE;
	font-family: Headers;
	display: block;
	font-weight: bold;
}
#ppp:checked + li {
	height: 0px;
}
#projects:checked + li {
    height: 70px;
}
i {
	margin-right: 12px;
}
@media screen and (max-width: 600px){
	nav {
		width: 100%;
		position: relative;
	}
	main {
		width: 100%;
		position: relative;
	}
}
iframe{
	width:100%;
	height:100%;
}
iframe[seamless]{
    background-color: transparent;
    border: 0px none transparent;
    padding: 0px;
    overflow: hidden;
}
.button{
	position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: 150px;
    height: 70px;
    border: solid #EEEEEE;
    text-align: center;
    margin: 15px;
	font-weight: unset;
	font-family: monospace;
	color: #EEEEEE;
    left: 50%;
    transform: translate(-61%,65%);
	border-radius: 15px;
}
.button:hover {
    background: darkcyan;
}
.button p{
	padding-top: 17px;
}
.information{
	display: flex;
	flex-flow: column nowrap;
}
.information p {
	margin-bottom: 20px;
	line-height: 26px;
    font-size: 24px;
	justify-content: center;
    color: #EEEEEE;
}
.information img {
	border: #EEEEEE 5px solid;
	align-self: center;
	width: 600px;
	border-radius: 15px;
}
.information h1 {
	justify-content: center;
}
.main {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.main::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.scrapped {
	color: #76ABAE;
}
.functional {
	color: rgb(0, 255, 106);
}
.codeblock {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 17px;
	font-family: monospace;
}
.codeblock p {
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
	color:white;
}
.orange {
	color:rgb(255, 89, 0);
}
.purp {
    color:rgb(115, 0, 255);
}
.white {
    color: white;
}
.pink {
	color: rgb(255, 136, 255);
}
.blue {
	color: rgb(80, 205, 255);
}
.green {
	color: rgb(0, 255, 106)
}
.footer {
	height: 85px;
	width: 100%;
	bottom: 0;
	left: 0;
	background-color: #0000009a;
	border-radius: 15px;
}
@media screen and (max-width: 800px) {
	.information img {
		width: 500px;
	}
	.information h1{
		font-size: 28px;
	}
	h1 {
		font-size: 16px;
		line-height: 18px;
		margin-bottom: 5px;
	}
	p	{
		font-size: 10px;
		line-height: 12px;
	}
	main{
		height: 100vh;
	}
	.youtube {
		margin-left: 10%;
		margin-right: 10%;
		height: 200px;
		width: 70%;
	}
	.footer {
		height: 200px;
		width: 100%;
		bottom: 0;
		left: 0;
		background-color: #0000009a;
		border-radius: 15px;
	}
}
	@media screen and (max-width: 500px) {
	.information img {
		width: 300px;
	}
}